.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #1c1e22;
  padding: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin: 0;
}

nav ul a {
	color: white;
  font-weight: 700;
  font-size: 130%;
	text-decoration: none;
}

h1 {
  margin-left: 1rem;
}

.pokebox {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  border: #4e5258 solid 2px;
  border-radius: 5%;
  width: max-content;
}

.pokebox .top-box {
  background-color: #4e5258;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.pokebox .top-box .img {
  text-align: center;
}

.pokebox .top-box .img img {
  width: 100%;
  height: auto;
}

.pokebox h2 {
  text-align: center;
}

.pokebox .bottom-box .types {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.types .type {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0.2rem;
  font-weight: 700;
  border-radius: 0.375rem;
  margin-left: 5px;
  margin-right: 5px;
}

.types .normal {
  background-color: #A8A878;
}
.types .grass {
  background-color: #71C730;
}
.types .fire {
  background-color: #CC2200;
}
.types .water {
  background-color: #46A3FF;
}
.types .electric {
  background-color: #FDC125;
}
.types .ice {
  background-color: #78D7F7;
}
.types .fighting {
  background-color: #84331A;
}
.types .poison {
  background-color: #8D408F;
}
.types .ground {
  background-color: #C4A44C;
}
.types .flying {
  background-color: #8597E7;
}
.types .psychic {
  background-color: #EF538B;
}
.types .bug {
  background-color: #A9B91C;
}
.types .rock {
  background-color: #998541;
}
.types .ghost {
  background-color: #6464B1;
}
.types .dark {
  background-color: #201915;
}
.types .dragon {
  background-color: #7038F8;
}
.types .steel {
  background-color: #ADABBD;
}
.types .fairy {
  background-color: #F0B6BC;
}
.types .other {
  background-color: #689A8D;
}

.sep {
  margin: 0;
  padding: 0;
  border-bottom: #4e5258 solid 2px;
}

.home {
  text-align: center;
}

.home h1 {
  font-weight: 700;
}

.home h2 {
  text-decoration: underline;
}

.home p {
  margin-left: 500px;
  margin-right: 500px;
}

.home p a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg,rgba(44,112,176,1), rgba(255,255,0,1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}